/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --btn-border-color: #d9d9d9;
  --filter-bg-color: #deebff;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 22px;
  --margin-main: 24px;
  --transition: all 0.2s ease-in;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}
/****** Logo ***********/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;
}
.logo img {
  height: 20px;
}

/****** NavBar ***********/

.navbar ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 36px;
}
.navbar li {
  margin: auto;
  font-size: var(--text-md);
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: 100%;
  border-bottom: solid 2px var(--main-bg-color);
}
.navbar li:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}
/****** info-group ***********/
.info-group {
  margin: 20px;
}

.headline h1 {
  font-size: var(--text-xl);
  font-weight: 700;
  margin-bottom: 8px;
}
.headline p {
  font-size: var(--text-md);
  margin-top: 8px;
}
.info-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-bar i {
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center;
  border: solid 1px var(--main-bg-color);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
}
/****** search-bar ***********/
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0px;
  border: solid 1px var(--main-bg-color);
  border-radius: 15px;
  height: 50px;
}
.search-bar button {
  height: 50px;
  width: 50px;
}
.search-bar input {
  border: none;
  height: 100%;
  width: calc(100% - (100px));
  border: 1px;
  font-size: var(--text-lg);
  font-weight: 700;
  padding-left: 20px;
}

.search-bar button:first-child {
  border: solid 2px var(--main-bg-color);
  border-radius: 15px 0 0 15px;
}

.search-bar button:last-child {
  border: solid 1px var(--main-color);
  border-radius: 15px;
  background-color: var(--main-color);

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.search-bar i {
  font-size: 17px;
}
.search-bar button:first-child i {
  color: black;
}
.search-bar button:last-child i {
  color: white;
}
.search-bar button:last-child span {
  display: none;
}
/****** filter-bar ***********/
.filter-bar h2 {
  font-size: var(--text-lg);
  font-weight: 700;
}
.filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px 0;
}

.filter button {
  display: flex;
  font-size: var(--text-sm);
  font-weight: 700;
  line-height: 1.5;
  align-items: center;
  justify-content: start;
  gap: 10px;

  border: solid 2px var(--btn-border-color);
  border-radius: 25px;
  padding: 10px 19px;
  transition: all 0.2s;
}

.filter button:hover {
  transform: scale(1.01);
  background-color: var(--filter-bg-color);
}
.filter i {
  font-size: 20px;
  width: 22px;
  text-align: center;
}
/**/

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: var(--text-xl);
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.01);
  background-color: var(--filter-bg-color);
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}

.hebergements-and-populaires section {
  box-sizing: border-box;
}

/****** Hebergements et Activités***********/
.hebergements {
  background-color: white;
  padding: 20px;
}
.hebergements-cards .card {
  margin-top: 18px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding-left: 10px;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  padding: 20px;

  background-color: var(--main-bg-color);
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 14px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/****** activités ******/
.activités {
  width: 100%;
  background-color: white;
  padding: 20px;
  margin: 40px 0;
  box-sizing: border-box;
}
.activités-cards .card {
  margin-top: 18px;
}

.activités-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activités-cards .card-content {
  padding-left: 15px;
  box-sizing: border-box;
}

.activités-cards .card-title {
  margin-bottom: 4px;
  line-height: 3;
}
footer {
  padding: var(--margin-main);
  line-height: 1.8;
  background-color: var(--main-bg-color);
}

footer section:not(:last-child) {
  margin-bottom: 20px;
}

footer li {
  font-size: var(--text-lg);
  transition: all 0.2s;
}

footer li:hover {
  font-weight: bold;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices */
@media (min-width: 768px) {
  body {
    padding: 0 40px;
    margin-top: -30px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-top: 20px;
  }
  .navbar li {
    border-bottom: 0;
    border-top: solid 2px var(--main-bg-color);
    padding-top: 15px;
  }
  .info-group {
    margin: 20px 0;
  }

  .search-bar {
    width: 38%;
    min-width: 377px;
  }
  .search-bar input {
    width: calc(100% - (182px));
  }

  .search-bar button:last-child {
    width: 132px;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
  }
  .search-bar button:last-child i {
    display: none;
  }
  .search-bar button:last-child span {
    display: contents;
    color: white;
    font-weight: 700;
  }

  .filter {
    display: flex;
  }

  .hebergements-and-populaires {
    flex-flow: column;
  }

  .hebergements {
    background-color: var(--main-bg-color);
    border-radius: 15px;
  }
  .hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .populaires {
    border-radius: 15px;
  }

  .populaires-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .activités-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
  .activités-cards .card {
    height: 270px;
  }
  .activités-cards img {
    height: 200px;
  }

  .activités-cards .card-content {
    display: flex;
    align-items: center;
    height: 70px;
  }

  .activités-cards .card-title {
    line-height: normal;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* Large devices */
@media screen and (min-width: 1440px) {
  .hebergements-and-populaires {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .populaires-cards {
    display: block;
  }

  .activités-cards .card {
    height: 439px;
  }
  .activités-cards .card img {
    height: 380px;
  }
}
